
    .top-bar {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 10px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }
    
    .top-bar img.logo {
    height: 400px;
    margin-top: -100px
}

.logo {
  height: 300px;
  margin-top: -100px;
}

.login-area {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 20px;
  gap: 8px;
  max-width: 250px;
}


.login-area span {
  font-size: 0.9em;
  color: white;
  font-style: italic;
  text-align: right;
  white-space: normal;
}


     .login-buttons {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }